In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.1/492.1 KB 6.5 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 KB 15.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [11]:
import pymongo
from pymongo import MongoClient
client=pymongo.MongoClient('mongodb+srv://keerthy:********@cluster0.8hzekd3.mongodb.net/test')
my_db=client['Telephone_DB']

# **CREATE**
1.Collection is created with mandatory fields

    Name: String
    Phone_no: String that accepts only 10 digit number
    Place: String
    Pincode: String that accepts only 5 digit number
    Voilation of any of the above validations will raise a write Error

In [14]:
result= my_db.create_collection("Contacts_1", 
       validator= {
        "$jsonSchema": {
         "bsonType": "object",
         "title": "Telephone Directory CRUD Operation",
         "required": [ "name","phone_no","place","pincode" ],
         "properties": {
             "place": {
               "bsonType": "string",
               "description": "'place' must be a string and is required"
            },
            "name": {
               "bsonType": "string",
               "description": "'name' must be a string and is required"
            },
            "pincode": {
              "bsonType": "string",
                "pattern": "\\A[0-9]{6}\\z",
                "description": "pincode should be 6 digit"
                
             },
            "phone_no":{
              "bsonType": "string",
              "pattern": "\\A[0-9]{10}\\z",
                "description": "phone number should be 10 digit"
             }
                 }
              }
           }
         )    
print(result)

Collection(Database(MongoClient(host=['ac-6fzle8k-shard-00-01.8hzekd3.mongodb.net:27017', 'ac-6fzle8k-shard-00-02.8hzekd3.mongodb.net:27017', 'ac-6fzle8k-shard-00-00.8hzekd3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-re956g-shard-0', tls=True), 'Telephone_DB'), 'Contacts_1')

## **INSERT**

In [15]:
dic={
   "name": "Kirthu",
    "phone_no":"9854673801",
    "place":"Madhya Pradesh",
    "pincode" :'567011'
}   
result.insert_one(dic)
for each in result.find():
    print(each)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}

In [21]:
my_list = [{"name": "nandhu","phone_no":"9223795371","place":"renigunta","pincode" :'532401'},
          {"name": "karthi","phone_no":"9133771239","place":"kakinada","pincode" :'630101'},
          {"name": "naga","phone_no":"9563221239","place":"kanyakumari","pincode" :'567832'},
          {"name": "aravind","phone_no":"9132621239","place":"bangalore","pincode" :'129341'},
          {"name": "balaji","phone_no":"9124621239","place":"Chennai","pincode" :'673546'},
          {"name": "nithin","phone_no":"9563221239","place":"puttur","pincode" :'436731'},
          {"name": "Nisha","phone_no":"5648921239","place":"triuvandram","pincode" :'562341'},
          {"name": "Leela","phone_no":"9124648520","place":"bangalore","pincode" :'129341'}
         ]
y = result.insert_many(my_list)
for each in result.find():
    print(each)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd6'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd9'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'bangalore', 'pincode': '129341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfda'), 'name': 'balaji', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '673546'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdb'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdc'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdd'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'thanjavur', 'pincode': '456732'}
{'_id': ObjectId('6420446b3194efa1f9a1dfde'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('6420446b3194efa1f9a1dfdf'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe0'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe1'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'bangalore', 'pincode': '129341'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe2'), 'name': 'balaji', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '673546'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe3'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe4'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe5'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'bangalore', 'pincode': '129341'}

## **READ**

In [22]:
# Read every document from the collection and prints it
for x in result.find():
    print(x)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd6'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd9'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'bangalore', 'pincode': '129341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfda'), 'name': 'balaji', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '673546'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdb'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdc'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdd'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'thanjavur', 'pincode': '456732'}
{'_id': ObjectId('6420446b3194efa1f9a1dfde'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('6420446b3194efa1f9a1dfdf'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe0'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe1'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'bangalore', 'pincode': '129341'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe2'), 'name': 'balaji', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '673546'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe3'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe4'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe5'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'bangalore', 'pincode': '129341'}

In [23]:
myquery = { "place":  { "$regex": "^k" } } 
mydoc = result.find(myquery)  # it will return all the documents in which place is starting with 'k'
for x in mydoc:
    print(x)

{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('6420446b3194efa1f9a1dfdf'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('6420446b3194efa1f9a1dfe0'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}

In [24]:
myquery={"$and":[{"name":"Kirthu"},{"place":"Madhya Pradesh"}]}
mydoc = result.find(myquery)  # it will return all the documents in which name is Kirthu& place is Madhya Pradesh
for x in mydoc:
    print(x)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}

## **UPDATE**

In [25]:
query = { "place": "bangalore" }
update = { "$set": { "place": "Tripura" } } # it will replace the first ocuurence 

result.update_one(query, update)

for x in result.find():
    print(x)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd6'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd9'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '129341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfda'), 'name': 'balaji', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '673546'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdb'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdc'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdd'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'thanjavur', 'pincode': '456732'}

In [26]:
query = { "place": "bangalore" }
update = { "$set": { "place": "Tripura" } } # it will replace the all ocuurence 

result.update_many(query, update)

for x in result.find():
    print(x)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd6'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd9'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '129341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfda'), 'name': 'balaji', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '673546'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdb'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdc'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdd'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'thanjavur', 'pincode': '456732'}

## **DELETE**

In [29]:
myquery = { "place": "Chennai" }

result.delete_one(myquery)
for x in result.find():
    print(x)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd6'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd9'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '129341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdb'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdc'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdd'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'thanjavur', 'pincode': '456732'}

In [30]:
myquery = { "place": "Chennai" }

result.delete_many(myquery)
for x in result.find():
    print(x)

{'_id': ObjectId('64203ebb3194efa1f9a1dfd5'), 'name': 'Kirthu', 'phone_no': '9854673801', 'place': 'Madhya Pradesh', 'pincode': '567011'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd6'), 'name': 'nandhu', 'phone_no': '9223795371', 'place': 'renigunta', 'pincode': '532401'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd7'), 'name': 'karthi', 'phone_no': '9133771239', 'place': 'kakinada', 'pincode': '630101'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd8'), 'name': 'naga', 'phone_no': '9563221239', 'place': 'kanyakumari', 'pincode': '567832'}
{'_id': ObjectId('642040ef3194efa1f9a1dfd9'), 'name': 'aravind', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '129341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdb'), 'name': 'nithin', 'phone_no': '9563221239', 'place': 'puttur', 'pincode': '436731'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdc'), 'name': 'Nisha', 'phone_no': '5648921239', 'place': 'triuvandram', 'pincode': '562341'}
{'_id': ObjectId('642040ef3194efa1f9a1dfdd'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'thanjavur', 'pincode': '456732'}

In [31]:
result.delete_many({})
for x in result.find():
    print(x)